.section_nav{
   border-bottom: 0.1em solid blue;
    display: block;
    height: 60px;
    font-family: sans-serif;
}
#logo{
    margin-left: 800px;
}
.firts_sec{
   
}

#home1{
    margin-left: 20px;
    margin-bottom: 10px;
}
.h1{
    color: rgb(17, 164, 243);
    margin-left: 90px;
}
.item{
    position: relative;
    font-family:Georgia;
    top: -30px;
    left: 200px;
    margin: 20px;
   font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        height: 100%;
    
}
#navbar{
    height: 100px;
}
.comp_name{
    margin-left: 90px;
    margin-top: 20px;
}
.head1{
    margin-top: 80px;
    margin-left: 120px;
    font-weight: 700;
    font-size: 50px;
}
.highlights{
  
    margin-left: 120px;
    margin-top: -100px;
    font-size: 20px;
    font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        height: 100%;
        color: rgb(2, 160, 245);
}
#em{
    color: rgb(0, 6, 9);
    margin-right: 20px;
    font-size: 20px;
}
.img2{
    float: right;
    margin-right: 69px;
    margin-top: -959px;
}
.head3{
    position: relative;
    text-align: center;
    top: 150px;

    color: rgb(250, 251, 252);
    /* font-display: ; */
}


.clip1{
    position: relative;
    
    left: 20px;
    top: 500px;
   
}
.images{ 
    right: 110px; 
    height: 400px;
    margin-top: -10px;
}
.calender{
    margin-left: 900px;
    margin-top: -40px;
}
.contacts{
   margin-left: 800px;
}
#conta{
    position: relative;
    margin-top: -24px;
    left: 190px;
}
#home{
    color: rgb(253, 250, 250);
    font-weight: 700;
    margin-top:20px ;
  
}

.imgheader{
    margin-left: 50px;
    background-color: rgb(72, 67, 67);
    height: 100px;
    width: 900px;
  
}
#dropdwon_imgheader{
    background-color: transparent;
    border-color: transparent;
    font-size: 25px;
    font-weight: 600;
}
.para1{
    color: rgb(251, 252, 252);
  
 height: 70px;
 font-size: small;
 margin-top: -40px;
 margin-left: 250px;
 padding: 10px;
 width: 600px;
}
.section{
   background-color: aquamarine;
    height: auto;
    margin-top:20px ;
    margin-bottom: 100px;
    
   
}
#secimg{
    height: 400px;
    width: 300px;
    margin: 20px;
    border-radius: 0.9em;
}
.sec_img{
    margin-top: 50px;
}
.cards{
    background-color: burlywood;
    
}
.ratings{
    position: relative;
    right: 190px;
    top: -770px;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 1em;
    background-color: rgb(184, 200, 210);
    float: right;
}
.rates{
  position: relative;
  top: 400px;
  right: ;
  text-align: center;
}
.rates2{
    position: relative;
    right: 350px;
    top: 10px;

   
}
.rating{
    position: relative;
    top: -595px;
    right:-645px;
    height: 180px;
    width: 200px;
    border-radius: 1em;
    background-color: rgb(184, 200, 210);
    float: right;
    margin: 20px;
    text-align: center;

}
.rattes{
    position: relative;
    top: -540px;
    left:450px ;
    height: 160px;
    width: 180px;
    border-radius: 1em;
    background-color: rgb(26, 143, 198); 
}
#rattes_txt{
    text-align: center;
    color: aliceblue;
    font-size: 39px;
    font-weight: 700;
    margin-top: 20px;
}
.sec_para{
    color:white ;
}
#p1{
    position: relative;
    right: -20px;
    top: 30px;
}
#p2{
    position: relative;
    float: right;
    left: 0px;
    top: -130px;
} 
#gloves{
    position: relative;
    left: 390px;
    top: 100px; 
}
#svg{
    position: relative;
    top: 20px;
}
#box_descrp{
    position: relative;
    top:24px ;
    font-weight: 700;
}
.Head_descrp{
   margin-left: 700px;
   margin-top: -140px;
    width:500px ;
    height: auto;
  
}
#logo_bottom{
    position: relative;
    margin-left: 30px;
}
.bottom_body{
    position: relative;
    top: 700px;
  
    height: 300px;
    width: 100%; 
}
#bottom_button{
    position: relative;
    top: -56px;
    left:695px;
    border-radius: 2em;
    width: 170px;
    height: 55px;
    border: transparent;
    font-weight: 500;
    background-color: rgb(13, 118, 194);
}
footer{
    background-color: rgb(0, 136, 255);
    height: 490px;
    
    top: -350px;
}
#footer_header{
    position: relative;
    top: 50px;
    left: 50px;
}
em{
    font-style: normal;
    color: white;
    font-size: 40px;
}
#footer_image{
    margin-top:-56px ;
    margin-left: -530px;
}
#footer_info{
position: relative;
 bottom: 350px;
 left: 600px;
}
.sec_footer{
    float: left;
    
}
.hd{
    margin-left: 400px;

}
.item{
    position: relative;
    left: 400px;
    top: 70px;
    float: left;
    margin: 20px;
    padding: 10px;
    color: aliceblue;
}
.sign_up{
	position: relative;
	left: 932px;
	top: -440px;
	width: 350px;
	
}

#email_box{
	display: block;
	height: 35px;
	width: 270px;
	text-align: center;
	border-color:transparent ;
	margin: -1px;
}
.enquiry_box{
	display: block;
	height: 60px;
	width: 270px;
}

#tbn{
	position: relative;
	top: -3px;
	width: 270px;
	height: 53px;
	text-align: center;
	padding: 10px;
	font-size: 15px;
	font-weight: 800;
	border-radius: em;
    color: aliceblue;
    background-color: rgb(13, 118, 194);
	border-color: transparent;
}
#policy{
    position: relative;
    left: 350px;
    font-size: 13px;
    top: -930px;
}



 